<div id='badgewrapper'>
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/sadboisbadge' alt='sadboisbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/osubadge' alt='osubadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/vscodebadge' alt='vscodebadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/bloglurkerbadge' alt='bloglurkerbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/anxiousbadge' alt='anxiousbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/cryptidbadge_' alt='cryptidbadge_' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/artfightbadge_light' alt='artfightbadge_light' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/githubbadge_' alt='githubbadge_' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/scpbadge_' alt='scpbadge_' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/firefoxbadge_' alt='firefoxbadge_' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/404notfoundbadge' alt='404notfoundbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/notepadplusplusbadge' alt='notepadplusplusbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/bashbadge' alt='bashbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/iheartanimebadge' alt='iheartanimebadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/coffeeaddictbadge' alt='coffeeaddictbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/shrimpbadge' alt='shrimpbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/blogcodebadge' alt='blogcodebadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/tamagotchibadge' alt='tamagotchibadge' />
</div>

<style>
	#badgewrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	img {
		margin: 2px;
		image-rendering: pixelated;
	}
</style>
