<div id='badgewrapper'>
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/404notfoundbadge.png' alt='404notfoundbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/anonymousbadge.png' alt='anonymousbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/notepadplusplusbadge.png' alt='notepadplusplusbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/bashbadge.png' alt='bashbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/depressedbadge.png' alt='depressedbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/iheartanimebadge.png' alt='iheartanimebadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/blogcodebadge.png' alt='blogcodebadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/ff1_blackmagebadge.png' alt='ff1_blackmagebadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/leavefeedbackbadge.png' alt='leavefeedbackbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/coffeeaddictbadge.png' alt='coffeeaddictbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/shrimpbadge.png' alt='shrimpbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/photoshopbadge.png' alt='photoshopbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/firefoxbadge.png' alt='firefoxbadge' />
	<img src='https://res.cloudinary.com/ccafe/image/upload/t_art-opt/tamagotchibadge.png' alt='tamagotchibadge' />
</div>

<style>
	#badgewrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	img {
		margin: 2px;
		image-rendering: pixelated;
	}
</style>
