---

---

<section>
	<b>11/01/23</b><br />
	<b>Added</b>
	<ul>
		<li>domain name &amp; email!</li>
		<li>forgotten footer to blog page.</li>
		<li>sitemap gen for bots</li>
		<li>sitemap for humans :3</li>
		<li>404 page</li>
		<li>font fallbacks</li>
	</ul>

	<b>Changed</b>
	<ul>
		<li>fontface for body text to jetbrains mono</li>
		<li>image caching method</li>
		<li>codeblock theme to dracula</li>
		<li>bold text styling to chicago fontface</li>
	</ul>
	<b>Security</b>
	<ul>
		<li>restricted access to img bucket</li>
	</ul>

	<b>10/13/23</b><br />
	<b>Added</b>
	<ul>
		<li>privacy-friendly analytics</li>
		<li>sidebar index on blog page</li>
		<li>spent hours hitting rock against keyboard. good work.</li>
	</ul>

	<b>10/10/23</b><br />
	<b>Changed</b>
	<ul>
		<li>site overhaul. clean up css and simplify layouts.</li>
	</ul>
</section>
