---

---

<footer style='text-align: center; position: fixed; bottom: 0; width: 100%; color: rgba(245, 245, 245, 0.5);'>
	<p>
		made with ♡ by <a href='/' target='_blank'>sugoi</a> | <a href='/sitemap'>sitemap</a>
	</p>
</footer>
