/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'ChicagoFLF';
	src: url('/fonts/ChicagoFLF.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ChicagoFLF';
	src: url('/fonts/ChicagoFLF.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
	font-family: 'JetBrainsMono-Regular';
	src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'JetBrainsMono-Italic';
	src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
	font-style: italic;
	font-display: swap;
}

html,
body {
	/* -moz-user-select: none;
	-webkit-user-select: none; */
	background-image: url('/spacebg.png');
	background-repeat: repeat;
	margin: 0;
	height: 100%;
	font-family: 'JetBrainsMono-Regular', 'Consolas', monospace;
	font-size: 13px;
	overflow: auto;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	line-height: 1.3;
}
main {
	width: 1200px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
	font-family: 'ChicagoFLF', 'Lucidia Console', sans-serif;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-family: 'ChicagoFLF', 'Lucidia Console', sans-serif;
	font-weight: 400;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}
p {
	margin: 1em 0 1em 0;
	padding: 0 1em 0 2em;
}
.prose p {
	margin-bottom: 2em;
}
ul {
	list-style: square;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
	.three-col-wrapper,
	.two-col-wrapper {
		grid-template-columns: 1fr; /* Single column layout */
	}

	.sidebarleft,
	.centercol,
	.sidebarright {
		grid-column: 1; /* All content goes to the same single column */
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
