// color palette
$primary: #292929;
$secondary: #161616;
$accent: #a8a8a8;
$text: #ffffff;

// general styling
html {
	font-family: IBM Plex Mono;
	font-size: 12px;
}

div {
	display: block;
}

body {
	font-size: 12px;
	font-family: IBM Plex Mono;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	letter-spacing: normal;
	line-height: 1;
	color: $text;
	background-color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin-bottom: 10px;
}

h2 {
	font-size: 32px;
	line-height: 36px;
	margin-top: 20px;
}

// wraps all content modules
main {
	height: 100%;
	min-height: 100vh;
	font-size: 12px;
	box-sizing: border-box;
	background-color: $secondary;
}

// navbar module =================================================================

// logo block
.ui-navbar-top {
	top: 0%;
	left: 0%;
	right: 0%;
	width: 100%;
	bottom: auto;
	height: 60px;
	display: flex;
	z-index: 100;
	position: fixed;
	align-items: center;
	border-bottom: 1px solid $secondary;
	background-color: $primary;

	.logo-block {
		width: 60px;
		height: 60px;
		display: flex;
		overflow: hidden;
		align-items: center;
		border-color: $text;
		border-style: solid;
		border-width: 1px;
		justify-content: center;
		background-color: $text;

		.a {
			text-decoration: underline;
		}

		.logo-icon {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $primary;
		}
	}
}

// global header
.ui-title-wrap {
	flex: 1;
	height: 60px;
	display: flex;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
	justify-content: space-between;

	.ui-title {
		font-size: 24px;
		margin-top: 0px;
		font-weight: 600;
		margin-bottom: 0px;
		letter-spacing: 2px;
	}
}

// links
.ui-navbar-left {
	top: 0%;
	left: 0%;
	right: auto;
	width: 60px;
	bottom: 0%;
	z-index: 90;
	position: fixed;
	border-right: 1px solid $secondary;
	background-color: $primary;
}

.ui-left-wrap {
	height: 100%;
	display: flex;
	padding-top: 60px;
	flex-direction: column;

	.nav-item {
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $secondary;
		justify-content: center;
		text-decoration: none;
		background-color: $primary;

		.nav-item:hover {
			filter: invert(100);
		}

		.nav-icon {
			height: 20px;
			filter: invert(100);
		}

		.a:active {
			outline: 0;
		}

		.a:hover {
			outline: 0;
		}
	}
}
// top & mid section =================================================================
.content-container {
	padding: 75px 0;
	padding-left: 25%;
	padding-right: 10%;
	z-index: 80;
	position: relative;
}

// top section =================================================================
.row-top {
  display: flex;
  height: 18rem;
}

.panel-w75 {
  flex-basis: 75%;
}

.panel-w25 {
  flex-basis: 25%;
}

// mid section =================================================================
.col-container {
	display: flex;
	flex-direction: row;
}

.col-right {
	flex: 1;
	display: flex;
	flex-direction: column;
  }

.col-left {
	//left panels
	flex: 0 auto;
	width: 25rem;
	flex-direction: column;
}

.panel-h25 {
  height: 17rem;
}

// general styling for panels ===================================================
.panel-container {
	padding: 15px;

	.panel {
		width: 100%;
		height: 100%;
		display: flex;
		border-color: $text;
		border-style: solid;
		border-width: 1px;
		flex-direction: column;
		background-color: $primary;
		transition: box-shadow 200ms ease;

		.panel-body {
			flex: 1;
			display: flex;
			overflow: scroll;
			flex-direction: column;
			overflow-wrap: break-word;
		}
	}
}

.w-inline-block {
	display: inline-block;
	max-width: 100%;
}

.panel-img {
	height: 50px;
}

// styling for panel heads =======================================================
.panel-head {
	display: flex;
	height: 40px;
	line-height: 14px;
	border-bottom: 1px solid $text;
	justify-content: space-between;

	.panel-icon-wrap {
		display: flex;
		width: 40px;
		padding: 7px;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		border-right: 1px solid $text;
		cursor: default;

		.panel-head-img {
			height: 25px;
			filter: invert(100);
		}
	}

	.panel-name-wrap {
		flex: 1;
		padding: 12px 15px;

		.panel-name {
			color: $text;
			display: inline-block;
			font-weight: 600px;
			line-height: 16px;
			white-space: nowrap;
			margin-right: 10px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		.panel-filter {
			color: $accent;
			display: inline-block;
			font-weight: 400;
			line-height: 16px;
		}
	}

	.panel-count-wrap {
		flex: 0 auto;
		padding: 12px 15px;
		border-left: 1px solid $text;

		.counter {
			color: $accent;
		}
	}

	.panel-link-wrap {
		width: 40px;
		cursor: pointer;
		display: flex;
		padding: 5px;
		overflow: hidden;
		align-items: center;
		border-left: 1px solid $text;
		justify-content: center;

		.more-icon {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;

			.plus-v {
				width: 2px;
				height: 14px;
				z-index: 10;
				position: relative;
				background-color: $text;
			}

			.plus-h {
				width: 14px;
				height: 2px;
				z-index: 9;
				position: absolute;
				background-color: $text;
			}
		}
	}
}

// styling for rows & columns within panels ==========================================

//rows
.panel-row {
	color: $text;
	cursor: pointer;
	height: 4rem;
	display: flex;
	border-bottom: 1px solid $secondary;
	text-decoration: none;
}

.panel-row:hover {
	color: $primary;
	background-color: $text;
}

.panel-row-h30 {
	height: 30px;
}

//columns
.panel-col {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: flex-start;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: flex-start;
}

.panel-col-img {
	flex: 0 auto;
	width: 100px;
	display: flex;
	padding: 0 0 0 10px;
	align-items: center;
	justify-content: flex-start;
}

.panel-col-w25 {
	flex: 0 auto;
	width: 25%;
}

.panel-col-txt-nowrap {
	white-space: nowrap;
}

.panel-col-txt {
	line-height: 16px;
}

.panel-col-w40 {
	flex: 0 auto;
	width: 40%;
}

.panel-col-auto {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: flex-start;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: flex-start;
}
