---
import BaseHead from '../components/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
// import Header from '../components/Navbar.astro';

export interface Props {
	seo?: BaseHeadProps;
}
const { seo } = Astro.props;
---

<html lang='en'>
	<head>
		<BaseHead {...seo} />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap' />
		<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter&display=swap' />
	</head>
	<body>
		<!-- <slot name='Navbar' /> -->
		<main>
			<slot />
		</main>
	</body>
</html>
