---
import Default from '../layouts/Default.astro';
import '../styles/three-column.css';
---

<!--Whatcha doin bud -->
<Default pageTitle='Sitemap'>
	<main class='three-col-wrapper'>
		<!-- CENTER COLUMN -->
		<div class='centercol'>
			<div class='content'>
				<h1 class='title'>NOT FOUND</h1>
				<div class='inner'>
					<center>
						<br />
						<img src='public/404.png' width='186' height='254' />
						<p>
							<a href='/'>Take me home</a>
						</p>
					</center>
				</div>
			</div>
		</div>
	</main>
</Default>
