---
import Default from '../layouts/Default.astro';
import '../styles/three-column.css';
import ChangelogPost from '../components/Changelog.astro';

const boxImg5 = 'https://d2d29byvjhs8jq.cloudfront.net/images/NOISE.png';
---

<Default pageTitle='Home'>
	<main class='three-col-wrapper'>
		<!-- LEFT SIDEBAR -->
		<div class='sidebarleft'>
			<div class='content'>
				<h1 class='title'>ATTENTION</h1>
				<div class='inner'>
					<p>Please consider whitelisting profsugoi.neocities.org</p>
					<p>
						I will be using a handful of scripts when I've developed the site more, and they tend to break when fighting
						adblockers.
					</p>
					<p><b>We do not use trackers or cookies!</b></p>
					<p>Site analytics are provided by <a href='https://withcabin.com/privacy/profsugoi.neocities.org'>Cabin</a> :3</p>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 2</h1>
				<div class='inner'>
					<p>Under construction!</p>
					<button class='command_button'>Button</button>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 3</h1>
				<div class='inner'>
					<p>Under construction</p>
				</div>
			</div>
		</div>

		<!-- CENTER COLUMN -->
		<div class='centercol'>
			<div class='content'>
				<h1 class='title'>CHANGELOG</h1>
				<div class='inner'>
					<ChangelogPost />
					<div class='icon'><img src='monidle.png' /></div>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 5</h1>
				<div class='inner'>
					<p>image here to test styling</p>
					<img src={boxImg5} alt='artwork of a demon silhouette' />
				</div>
			</div>
		</div>

		<!-- RIGHT SIDEBAR -->
		<div class='sidebarright'>
			<div class='content'>
				<h1 class='title'>BOX 6</h1>
				<div class='inner'>
					<p>do i even need three columns...</p>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 7</h1>
				<div class='inner'>
					<p>FREEEEEBIIIIRRD.</p>
				</div>
			</div>
		</div>
	</main>
</Default>
