---
import Default from '../layouts/Default.astro';
import '../styles/three-column.css';
import FediFeed from '../components/FediFeed.astro';
import ChangelogPost from '../components/ChangelogPost.astro';

const boxImg5 = 'https://d2d29byvjhs8jq.cloudfront.net/images/NOISE.png';
---

<Default pageTitle='Home'>
	<main class='three-col-wrapper'>
		<!-- LEFT SIDEBAR -->
		<div class='sidebarleft'>
			<div class='content'>
				<h1 class='title'>FEED</h1>
				<div class='inner'>
					<p><FediFeed /></p>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 2</h1>
				<div class='inner'>
					<p>Under construction!</p>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 3</h1>
				<div class='inner'>
					<p>Under construction</p>
				</div>
			</div>
		</div>

		<!-- CENTER COLUMN -->
		<div class='centercol'>
			<div class='content'>
				<h1 class='title'>BOX 4</h1>
				<div class='inner'>
					<p><a href='https://neocities.org/site/profsugoi'>Neocities Profile</a></p>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 5</h1>
				<div class='inner'>
					<p>image here to test styling</p>
					<img
						src={boxImg5}
						style='width: 300px; display: block; margin-left: auto; margin-right: auto;'
						alt='artwork of a demon silhouette'
					/>
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>ATTENTION</h1>
				<div class='inner'>
					<p>
						Please consider whitelisting <b>cryptidcafe.net</b><br />
						 Scripts used here may clash with your adblocker.
					</p>
					<p>
						<b>We do not use trackers or third-party cookies.</b>
					</p>
					<p>Site analytics kindly provided by <a href='https://withcabin.com/privacy/profsugoi.neocities.org'>Cabin</a> ♡</p>
				</div>
			</div>
		</div>

		<!-- RIGHT SIDEBAR -->
		<div class='sidebarright'>
			<div class='content'>
				<h1 class='title'>CHANGELOG</h1>
				<div class='inner'>
					<div class='icon'><img src='monidle.png' /></div>
					<ChangelogPost />
				</div>
			</div>
			<div class='content'>
				<h1 class='title'>BOX 7</h1>
				<div class='inner'>
					<p>FREEEEEBIIIIRRD.</p>
				</div>
			</div>
		</div>
	</main>
</Default>
