---
import Default from '../layouts/Default.astro';
import '../styles/three-column.css';
---

<!-- Sitemap page for humans :) -->
<Default pageTitle='Sitemap'>
	<main class='three-col-wrapper'>
		<!-- CENTER COLUMN -->
		<div class='centercol'>
			<div class='content'>
				<h1 class='title'>CHANGELOG</h1>
				<div class='inner'>
					<div class='icon'><img src='monidle.png' /></div>
					<ul>
						<li><a href='/'>Home</a></li>
						<li><a href='/blog/welcome'>Blog</a></li>
						<li><a href='/about'>About</a></li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</Default>
