---
// Layout for individual blog posts

import Layout from '../../layouts/BlogPage.astro';
import Navbar from '../../components/Navbar.astro';
import '../frontend/src/styles/global.scss';
import { getAllBlogPosts } from '../../lib/api';
import { urlForImage } from '../../lib/urlForImage';

// Gets urls from blog posts (backup)
// export async function getStaticPaths() {
// 	const allBlogPosts = await getAllBlogPosts();

// 	return allBlogPosts.map((post) => ({
// 		params: { slug: post.slug.current },
// 		props: { post },
// 	}));
// }

// const { post } = Astro.props;

import { useSanityClient } from 'astro-sanity';

export async function getStaticPaths() {
	const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map(({ slug, title }) => {
    return {
      params: { slug: slug.current },
      props: { title },
    };
  });
}

const { slug } = Astro.params;
const { title } = Astro.props;
---

<Navbar title='PAGE TITLE' />
<Layout>
	<html lang='en'>
		<div class='content-container'>
			<main>
				<h2 class='ui-title h2'>{title}</h2>
				<!-- <img class='img' src={getSanityImageURL(post.mainImage).url()} /> -->
			</main>
		</div>
	</html>
</Layout>
