---
// layout only being used for blog atm
import Default from '../../layouts/Default.astro';
import '../../styles/two-column.css';
import BlogAside from '../../components/BlogAside.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

// fetch all posts and sort by most recent
const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort((a,b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// get most recent post
const mostRecentPost = sortedPosts[0];
---

<Default pageTitle='Blog'>
	<main class='two-col-wrapper'>
		<!-- LEFT SIDEBAR -->
		<div class='sidebarleft'>
			<div class='content'>
				<h1 class='title'>POSTS</h1>
				<div class='inner'>
					<BlogAside />
				</div>
			</div>
		</div>

		<!-- CENTER COLUMN -->
		<div class='centercol'>
			<div class='content'>
				<h1 class='title'>Latest Post</h1>
				<div class='inner'>
					{mostRecentPost ? (
						<article>
							<h2>{mostRecentPost.data.title}</h2>
							<FormattedDate date={mostRecentPost.data.pubDate} />
							<p>{mostRecentPost.data.description}</p>
							<a href={`/blog/${mostRecentPost.slug}/`}>Read more</a>
						</article>
						) : (
							<p>No posts found.</p>
					)}
				</div>
			</div>
		</div>
	</main>
</Default>
