:root {
	--bg-color: #1f2227;
	--crt-flicker-1: #22252a;
	--crt-flicker-2: #202428;
	--crt-flicker-3: #1f2228;
	--main-text-color: #ffffff;
	--static-color: #3c424d;
}

@font-face {
	font-family: '712serif';
	src: url('https://okaken.club/fonts/712_serif.ttf') format('ttf'),
		url('https://okaken.club/fonts/712_serif.woff') format('woff');
}

* {
	cursor: url('https://okaken.club/img/landing/cursor/cursor.png'), auto;
}

*:focus {
	outline: none !important;
}

::selection {
	background: #4c4c4c;
	color: #ff0000;
}

body {
	background: var(--bg-color);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.background {
	min-height: 100vh;
	color: var(--main-text-color);
	font-family: '712serif', Courier, monospace;
	font-size: 1.3em;
	animation: crt 4ms infinite;
	text-shadow: 0 0 1px #423030, 1px 1px 1px #1a1c00, -1px -1px 1px #ff0000;
}

.background::after {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: repeating-linear-gradient(
		top,
		transparent 0px,
		transparent 2px,
		rgba(0, 0, 0, 0.2) 2px,
		rgba(0, 0, 0, 0.2) 4px
	);
	background-size: 100% 4px;
	box-shadow: inset 0 0 10em rgba(0, 0, 0, 0.5),
		inset 0 0 2em rgba(0, 0, 0, 0.1);
	z-index: -1;
	content: '';
}

#staticeffect {
	margin: 0;
	position: absolute;
	top: 0;
	background: var(--static-color);
	opacity: 0.2;
	z-index: 98;
	pointer-events: none;
}

@keyframes crt {
	28% {
		background: var(--bg-color);
	}
	30% {
		background: var(--crt-flicker-1);
	}
	33% {
		background: var(--crt-flicker-2);
	}
	34% {
		background: var(--crt-flicker-3);
	}
	35% {
		background: var(--bg-color);
	}
	78% {
		background: var(--bg-color);
	}
	80% {
		background: var(--crt-flicker-1);
	}
	83% {
		background: var(--crt-flicker-2);
	}
	84% {
		background: var(--crt-flicker-3);
	}
	85% {
		background: var(--bg-color);
	}
	91% {
		background: var(--crt-flicker-1);
	}
	92% {
		background: var(--crt-flicker-2);
	}
	95% {
		background: var(--crt-flicker-3);
	}
	97% {
		background: var(--bg-color);
	}
}

@keyframes closeModal {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}
	100% {
		transform: translate(-50%, -50%) scale(0);
	}
}

.close-modal {
	display: none;
}

#okaken-modal-left {
	background-image: url('https://okaken.club/img/landing/modal/window-left.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center left;
	position: absolute;
	width: 50px;
	left: 0;
	top: 0;
}

#okaken-modal-right {
	background-image: url('https://okaken.club/img/landing/modal/window-right.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
	position: absolute;
	top: 0;
	right: 0;
}

#okaken-modal-top {
	background-image: url('https://okaken.club/img/landing/modal/window-top.png');
	background-repeat: repeat-x;
	background-size: contain;
	top: 0;
	position: absolute;
	width: 100%;
}

#okaken-modal-top-left {
	background-image: url('https://okaken.club/img/landing/modal/window-top-left.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center left;
	top: 0;
	left: 0;
	width: 200px;
	position: absolute;
}

#okaken-modal-top-right {
	background-image: url('https://okaken.club/img/landing/modal/window-top-right.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
	top: 0;
	right: 0;
	width: 200px;
	position: absolute;
}

#okaken-modal-top-center {
	background-image: url('https://okaken.club/img/landing/modal/window-top-center.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	top: 0;
	width: 100%;
	position: absolute;
}

#okaken-modal-bottom {
	background-image: url('https://okaken.club/img/landing/modal/window-bottom.png');
	background-repeat: repeat-x;
	background-size: contain;
	bottom: 0;
	position: absolute;
	width: 100%;
}

#okaken-modal-bottom-left {
	background-image: url('https://okaken.club/img/landing/modal/window-bottom-left.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center left;
	bottom: 0;
	left: 0;
	width: 200px;
	position: absolute;
}

#okaken-modal-bottom-right {
	background-image: url('https://okaken.club/img/landing/modal/window-bottom-right.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
	bottom: 0;
	right: 0;
	width: 200px;
	position: absolute;
}

#okaken-modal-top-button {
	position: absolute;
	right: 10px;
	border: none;
}

#x-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url('https://okaken.club/img/landing/modal/x-button.png');
	background-size: cover;
	background-position: center center;
	border: none;
	cursor: url('https://okaken.club/img/landing/cursor/cursor-pointer.png'),
		pointer;
}
#x-button:active {
	transform: translateY(1px);
	box-shadow: 1px 1px #000;
	border: 1px dotted #000000;
	border-offset: -5px;
}

.glitch {
	position: absolute;
	top: 50%;
	left: 50%;
}

@keyframes blur {
	0% {
		filter: blur(0.1em);
		opacity: 1;
	}
	50% {
		filter: blur(0em);
		opacity: 0.9;
	}
	100% {
		filter: blur(0.01em);
		opacity: 1;
	}
}

@keyframes distort {
	10% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%) scale(1, 1);
	}
	11% {
		opacity: 0.8;
		top: 10px;
		left: -40px;
		transform: translate(-50%, -50%) scale(1, 1.05);
	}
	12% {
		opacity: 0.2;
		top: -15px;
		left: 40px;
		transform: translate(-50%, -50%) scale(1, 1.05);
	}
	13% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%) scale(1, 1);
	}
}

.glitch {
	position: absolute;
	top: 50%;
	left: 50%;
}

#okaken-modal {
	background-image: url('https://okaken.club/img/landing/modal/window-middle.png');
	background-size: contain;
	position: absolute;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: 3s distort 6s infinite alternate, blur 30ms infinite;
}

#promise {
	position: absolute;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: none;
}

#promise-torii {
	width: 100%;
	height: 100%;
	background: url('https://okaken.club/img/landing/promise/torii.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: absolute;
	animation: torii 4s ease;
}

#promise-moon {
	width: 100%;
	height: 100%;
	background: url('https://okaken.club/img/landing/promise/moon.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: absolute;
	animation: moon 8s ease;
}

#promise-text {
	width: 7%;
	height: 100%;
	position: relative;
	display: inline-block;
	animation: promisefadein 4s ease;
	cursor: pointer;
	transform: scale(1, 1);
	opacity: 0.8;
	transition: all 1.2s ease;
}

#promise-text:hover {
	opacity: 1;
	transform: scale(1.05, 1.05);
	transition: all 1.2s ease;
}

#promise-text-white {
	height: 100%;
	width: 100%;
	background: url('https://okaken.club/img/landing/promise/text.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: absolute;
	top: 0;
	animation: 0.1s promise 6s infinite alternate, blur 30ms infinite;
	cursor: url('https://okaken.club/img/landing/cursor/cursor-pointer.png'),
		pointer;
}

#promise-text-red {
	width: 100%;
	height: 100%;
	background: url('https://okaken.club/img/landing/promise/text-red.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: absolute;
	top: 0;
	animation: 1s promise 6s infinite alternate,
		2s promisered 6s infinite alternate, blur 30ms infinite;
	cursor: url('https://okaken.club/img/landing/cursor/cursor-pointer.png'),
		pointer;
}

@keyframes torii {
	0% {
		opacity: 0;
		top: 5px;
		left: 0;
		transform: scale(0.95, 0.95);
	}
	100% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: scale(1, 1);
	}
}

@keyframes moon {
	0% {
		opacity: 0;
		top: 10px;
		left: 0;
		transform: scale(0.98, 0.98);
	}
	100% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: scale(1, 1);
	}
}

@keyframes promisefadein {
	0% {
		opacity: 0;
		top: 30px;
		transform: scale(0.98, 0.98);
	}
	100% {
		opacity: 0.8;
		top: 0px;
		transform: scale(1, 1);
	}
}

@keyframes promise {
	10% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: scale(1, 1);
	}
	11% {
		opacity: 0.8;
		top: 10px;
		left: -10px;
		transform: scale(1, 1.05);
	}
	12% {
		opacity: 0.2;
		top: -15px;
		left: 10px;
		transform: scale(1, 1.05);
	}
	13% {
		opacity: 1;
		top: 0;
		left: 0;
		transform: scale(1, 1);
	}
}

@keyframes promisered {
	10%,
	80% {
		transform: scale(1, 1);
	}
	11%,
	81% {
		transform: scale(1, 1.05);
	}
	12%,
	82% {
		transform: scale(1, 1.05);
	}
	13%,
	83% {
		transform: scale(1, 1);
	}
}

#okaken-modal-content {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 10%;
	text-align: center;
}

@keyframes hairufadein {
	0% {
		opacity: 0;
		left: -2px;
		margin-top: 0;
	}
	6% {
		opacity: 1;
		left: 0;
		margin-top: -2px;
	}
	7% {
		opacity: 1;
		left: 2px;
		margin-top: 0px;
	}
	8% {
		opacity: 1;
		left: 0;
	}
	9% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
}

@keyframes jiggle {
	0% {
		left: 0;
		margin-top: 0;
	}
	20% {
		left: -3px;
		margin-top: 2px;
	}
	40% {
		left: 0;
		margin-top: 0;
	}
	60% {
		left: 3px;
		margin-top: -2px;
	}
	80% {
		left: 1px;
		margin-top: 1px;
	}
	100% {
		left: 0;
		margin-top: 0;
	}
}

#okaken-modal-content-text {
	position: absolute;
	width: 100%;
	top: 30%;
	animation: hairufadein 1s ease;
	display: block;
}

#okaken-modal-content-text-hover {
	position: absolute;
	width: 100%;
	top: 30%;
	display: none;
	animation: hairufadein 1s ease, jiggle 5ms infinite;
}

#okaken-modal-content-text-hover span {
}

#okaken-modal-content-field {
	position: absolute;
	width: 100%;
	top: 40%;
}

input[type='text'],
select {
	background-color: #fff;
	box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
		inset 2px 2px #0a0a0a;
	box-sizing: border-box;
	padding: 3px 4px;
	appearance: none;
	border: none;
	border-radius: 0;
	width: 30%;
	font-family: '712serif', Courier, monospace;
	text-align: center;
	font-size: 0.6em;
}

.glitch3 {
	display: inline-block;
	color: #fff;
	z-index: 2;
}

.layers {
	position: relative;
}

.layers::before,
.layers::after {
	content: attr(data-text);
	position: absolute;
	width: 110%;
	z-index: -1;
}

.layers::before {
	top: 10px;
	left: 15px;
	color: #e0287d;
}

.layers::after {
	top: 5px;
	left: -10px;
	color: #1bc7fb;
}

.single-path {
	clip-path: polygon(
		0% 12%,
		53% 12%,
		53% 26%,
		25% 26%,
		25% 86%,
		31% 86%,
		31% 0%,
		53% 0%,
		53% 84%,
		92% 84%,
		92% 82%,
		70% 82%,
		70% 29%,
		78% 29%,
		78% 65%,
		69% 65%,
		69% 66%,
		77% 66%,
		77% 45%,
		85% 45%,
		85% 26%,
		97% 26%,
		97% 28%,
		84% 28%,
		84% 34%,
		54% 34%,
		54% 89%,
		30% 89%,
		30% 58%,
		83% 58%,
		83% 5%,
		68% 5%,
		68% 36%,
		62% 36%,
		62% 1%,
		12% 1%,
		12% 34%,
		60% 34%,
		60% 57%,
		98% 57%,
		98% 83%,
		1% 83%,
		1% 53%,
		91% 53%,
		91% 84%,
		8% 84%,
		8% 83%,
		4% 83%
	);
}

.paths {
	animation: paths 5s step-end infinite;
}

@keyframes paths {
	0% {
		clip-path: polygon(
			0% 43%,
			83% 43%,
			83% 22%,
			23% 22%,
			23% 24%,
			91% 24%,
			91% 26%,
			18% 26%,
			18% 83%,
			29% 83%,
			29% 17%,
			41% 17%,
			41% 39%,
			18% 39%,
			18% 82%,
			54% 82%,
			54% 88%,
			19% 88%,
			19% 4%,
			39% 4%,
			39% 14%,
			76% 14%,
			76% 52%,
			23% 52%,
			23% 35%,
			19% 35%,
			19% 8%,
			36% 8%,
			36% 31%,
			73% 31%,
			73% 16%,
			1% 16%,
			1% 56%,
			50% 56%,
			50% 8%
		);
	}

	5% {
		clip-path: polygon(
			0% 29%,
			44% 29%,
			44% 83%,
			94% 83%,
			94% 56%,
			11% 56%,
			11% 64%,
			94% 64%,
			94% 70%,
			88% 70%,
			88% 32%,
			18% 32%,
			18% 96%,
			10% 96%,
			10% 62%,
			9% 62%,
			9% 84%,
			68% 84%,
			68% 50%,
			52% 50%,
			52% 55%,
			35% 55%,
			35% 87%,
			25% 87%,
			25% 39%,
			15% 39%,
			15% 88%,
			52% 88%
		);
	}

	30% {
		clip-path: polygon(
			0% 53%,
			93% 53%,
			93% 62%,
			68% 62%,
			68% 37%,
			97% 37%,
			97% 89%,
			13% 89%,
			13% 45%,
			51% 45%,
			51% 88%,
			17% 88%,
			17% 54%,
			81% 54%,
			81% 75%,
			79% 75%,
			79% 76%,
			38% 76%,
			38% 28%,
			61% 28%,
			61% 12%,
			55% 12%,
			55% 62%,
			68% 62%,
			68% 51%,
			0% 51%,
			0% 92%,
			63% 92%,
			63% 4%,
			65% 4%
		);
	}

	45% {
		clip-path: polygon(
			0% 33%,
			2% 33%,
			2% 69%,
			58% 69%,
			58% 94%,
			55% 94%,
			55% 25%,
			33% 25%,
			33% 85%,
			16% 85%,
			16% 19%,
			5% 19%,
			5% 20%,
			79% 20%,
			79% 96%,
			93% 96%,
			93% 50%,
			5% 50%,
			5% 74%,
			55% 74%,
			55% 57%,
			96% 57%,
			96% 59%,
			87% 59%,
			87% 65%,
			82% 65%,
			82% 39%,
			63% 39%,
			63% 92%,
			4% 92%,
			4% 36%,
			24% 36%,
			24% 70%,
			1% 70%,
			1% 43%,
			15% 43%,
			15% 28%,
			23% 28%,
			23% 71%,
			90% 71%,
			90% 86%,
			97% 86%,
			97% 1%,
			60% 1%,
			60% 67%,
			71% 67%,
			71% 91%,
			17% 91%,
			17% 14%,
			39% 14%,
			39% 30%,
			58% 30%,
			58% 11%,
			52% 11%,
			52% 83%,
			68% 83%
		);
	}

	76% {
		clip-path: polygon(
			0% 26%,
			15% 26%,
			15% 73%,
			72% 73%,
			72% 70%,
			77% 70%,
			77% 75%,
			8% 75%,
			8% 42%,
			4% 42%,
			4% 61%,
			17% 61%,
			17% 12%,
			26% 12%,
			26% 63%,
			73% 63%,
			73% 43%,
			90% 43%,
			90% 67%,
			50% 67%,
			50% 41%,
			42% 41%,
			42% 46%,
			50% 46%,
			50% 84%,
			96% 84%,
			96% 78%,
			49% 78%,
			49% 25%,
			63% 25%,
			63% 14%
		);
	}

	90% {
		clip-path: polygon(
			0% 41%,
			13% 41%,
			13% 6%,
			87% 6%,
			87% 93%,
			10% 93%,
			10% 13%,
			89% 13%,
			89% 6%,
			3% 6%,
			3% 8%,
			16% 8%,
			16% 79%,
			0% 79%,
			0% 99%,
			92% 99%,
			92% 90%,
			5% 90%,
			5% 60%,
			0% 60%,
			0% 48%,
			89% 48%,
			89% 13%,
			80% 13%,
			80% 43%,
			95% 43%,
			95% 19%,
			80% 19%,
			80% 85%,
			38% 85%,
			38% 62%
		);
	}

	1%,
	7%,
	33%,
	47%,
	78%,
	93% {
		clip-path: none;
	}
}

.movement {
	position: relative;
	animation: movement 8s step-end infinite;
}

@keyframes movement {
	0% {
		top: 0px;
		left: -20px;
	}

	15% {
		top: 10px;
		left: 10px;
	}

	60% {
		top: 5px;
		left: -10px;
	}

	75% {
		top: -5px;
		left: 20px;
	}

	100% {
		top: 10px;
		left: 5px;
	}
}

.opacity {
	animation: opacity 5s step-end infinite;
}

@keyframes opacity {
	0% {
		opacity: 0.1;
	}

	5% {
		opacity: 0.7;
	}

	30% {
		opacity: 0.4;
	}

	45% {
		opacity: 0.6;
	}

	76% {
		opacity: 0.4;
	}

	90% {
		opacity: 0.8;
	}

	1%,
	7%,
	33%,
	47%,
	78%,
	93% {
		opacity: 0;
	}
}

.font {
	animation: font 7s step-end infinite;
}

@keyframes font {
	0% {
		font-weight: 100;
		color: #e02828;
		filter: blur(3px);
	}

	20% {
		font-weight: 500;
		color: #fff;
		filter: blur(0);
	}

	50% {
		font-weight: 300;
		color: #a10000;
		filter: blur(2px);
	}

	60% {
		font-weight: 700;
		color: #fff;
		filter: blur(0);
	}

	90% {
		font-weight: 500;
		color: #e02828;
		filter: blur(6px);
	}
}

.glitch2 span {
	animation: paths 5s step-end infinite;
}

.glitch2::before {
	animation: paths 5s step-end infinite, opacity 5s step-end infinite,
		font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch2::after {
	animation: paths 5s step-end infinite, opacity 5s step-end infinite,
		font 7s step-end infinite, movement 8s step-end infinite;
}

#hairu {
	text-align: center;
	position: relative;
	top: 52%;
	background: silver;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
		inset 2px 2px #dfdfdf;
	border: none;
	height: 2em;
}

#hairu:active {
	border: 1px dotted #000000;
	border-offset: -4px;
	transform: translateY(1px);
	box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
		inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}
